extends ./head.pug
block article 
  header.masthead 
    p Ejercicio Less
    label.switcher(for="dark-mode")
      input(type="checkbox" id="dark-mode" name="switcher" onclick="document.body.classList.toggle('dark-mode')")
      span.check
  main 
    section.news-cover
      +cover(imageCover,imageTag)
      .news-cover__new
        h3.box-tittle Noticia
        h1.news-cover__new--tittle #{headline}
      .news-cover__author 
        img(src=""+authorImage)
        .news-cover__author--box
          h3.box-tittle Autor 
          p.news-cover__author--box-name.upper-text-1 #{authorName}
    section.news-story
      p.news-story__lead #{lead}
      +introContent(introBody)
      //- +listGenerator(listContainer)
      +subtittleContent(subtittles, subtittlesBoby)
      //- +listGenerator(listContainerB)
      //- +prueba(contentB)
    article.other-news
      h1.other-news__tittle NO TE PIERDAS...
      .card-container
        +card("https://i.ibb.co/VgrvBX9/xbox-banner.jpg", "Xbox Game Pass añade 9 nuevos juegos a su catálogo en julio", "Limbo o Banjo & Kazooie son algunas de las incorporaciones más destacadas para el servicio de Microsoft.","../html/xbox/news-page.html")
        +card("https://i.ibb.co/xMWbt0Y/sonic-banner.jpg", "SEGA tiene planes para convertir a Sonic en un youtuber", "El mítico erizo azul de SEGA cumple 30 años y la firma nipona tiene muchos planes previstos: entre otros, ser VTuber.","../html/sonic/news-page.html")
        +card("https://i.ibb.co/7tn56ww/among-us-banner.jpg", "Among Us paga el precio del éxito: sus autores acabaron agotados", "El videojuego acaba de presentar nuevos contenidos, pero hubo días en que desde Innersloth no podían más.","../html/among-us/news-page.html")