include article.pug
mixin card(image, titulo, parrafo)
  a(href="#").card
    figure.card__image 
      img(src=""+image)
    section.card__text 
      p.card__text--tittle.upper-text-1 #{titulo}
      p #{parrafo}
      p Leer más
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href!="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="../css/mobiles.css")
    //- link(rel="stylesheet", href="../css/mobiles.css" media="screen and (min-width:600px)")
    //- link(rel="stylesheet", href="../css/tablets.css" media="screen and (min-width:800px)")
    //- link(rel="stylesheet", href="../css/windows.css" media="screen and (min-width:1024px)")
    title Gaming News
  body 
    block article 