:root{
  --pug-color-1: #efcca3;
  --pug-color-2: #56332b;
  --less-color-1: #fff;
  --less-color-2: #173051;
  --sass-color-1: #cd669a;
  --sass-color-2: #8123ff;
  --stylus-color-1: #b3d107;
  --stylus-color-2: #727272;
  --platzi-color: #97c93e;
  --boton-alternative: #294596;
}
@font-face {
  font-family: 'Intro';
  src: url("./introbar.otf");
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Intro';
  font-size: 62.5%;
}

body {
  position: relative;
  background: linear-gradient(150deg, rgb(0, 0, 0) 10%, rgb(3, 43, 95) 80%);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100%;
  min-width: 32rem;
}

header {
  /* position: fixed; */
  width: 100%;
  /* height: 9.5rem; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  /* justify-content: space-evenly; */
  margin: 1rem auto .5rem;
}

header h1 {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

header h1 .platzi{
  color: var(--platzi-color);
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.boton__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.boton__container .boton {
  display: inline-block;
  margin-top: .5rem;
  padding: .5rem;
  width: 14rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .7rem;
}

.repo--boton {
  background-color: var(--boton-alternative);
}
.curso--boton {
  background-color: var(--platzi-color);
}

main {
  position: absolute;
  /* top: 10rem; */
  width: 100%;
  margin: 0 auto;
}